html,
body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}

body {
  /* Flex layout (important for align-items) */
  display: flex;
  flex-direction: column;
  /* background */
  background: url('images/background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  z-index: 0;
  /* center everything */
  align-items: center;
  text-align: center;
}

.main-body {
  position: relative;
}

footer {
  position: absolute;
  background-color: rgba(255, 255, 255, 0.6);
  padding: 1.5rem;
  right: 0;
  left: 0;
  bottom: 0;
}


/* All Fonts */

.normal-text {
  font: 1.25rem Roboto;
  font-weight: 700;
  color: white;
}

.footer-text {
  font-family: "Open Sans";
  font-size: 0.75rem;
}

.site-title {
  align-items: center;
  text-align: center;
  font-family: 'Monoton';
  font-size: 3.75rem;
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.14em;
  line-height: 1.5em;
  text-transform: lowercase;
  color: rgba(255, 15, 3, 1);
  /*background-color: rgba(255, 255, 255, 0.6);*/
  position: relative;
}

h1 {
  font-family: 'Roboto';
  font-weight: 700;
  color: white;
  font-style: italic, oblique;
  font-size: 5rem;
}


/* link style */

a {
  color: red;
  text-decoration: none;
}


/* everything else */

.button {
  border: solid 0.25rem;
  border-color: white;
  border-radius: 5px;
  color: white;
  background-color: rgba(255, 15, 1, 0);
  padding: 1rem 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  font: 'Roboto';
  /*   -webkit-transition-duration: 0.4s;
  -o-transition-duration: 0.4s;
  -moz-transition-duration: 0.4s;
  transition-duration: 0.4s; */
}

.button:hover {
  color: #ff0f03;
  border-color: #ff0f03;
}
